extends layout

block content
  div(class="content")
    h1(class="text-center")=title
    if products.length===0
      p(class="text-center")="There are no products on clearance"
    else  
      div(class="ml-3")
        each val in products
          li(class="mb-4")
            div(class="row")
              div(class="col-3")
                a(href=val.prodURL target="blank")
                  img(class="imgThumb" src=val.prodImage)
              div(class="col-9 pl-4")
                u
                  a(class="text-dark" href=val.prodURL target="blank")=val.title
                p(class='text-success font-weight-bold')='$'+val.salePrice
