extends layout

block content
  h1(class="text-center")=title
  each val in blackwolfProducts
    li(class="mb-4")
      div(class="row")
        div(class="col-3")
          a(href=val.prodURL target="blank")
            img(class="imgThumb" src=val.prodImage)
        div(class="col-9 pl-3")
          p
            u
              a(href=val.prodURL target="blank")=val.title
          div(class="row ml-1")
            p=val.salePrice
          a(href=val.prodURL target="blank")
            button(class="btn btn-outline-success seeMoreBtn")="See more"
