doctype html
html
  head
    title=title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="row header pl-2 py-2")
      div(class="btn-group")
        button(type="button" class="btn btn-success dropdown-toggle ml-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")="Select Store"
        div(class="dropdown-menu")
          a(href="/")
            button(class="dropdown-item btn-secondary" type="button")="Blackwolf"
          a(href="/bcf")
            button(class="dropdown-item btn-secondary" type="button")="BCF"
          a(href='/wildearth')
            button(class="dropdown-item btn-secondary maint" type="button")="Wild Earth"
          a(href="/mitchells")
            button(class="dropdown-item btn-secondary" type="button")="Mitchells Adventure"
          a(href="/anaconda")
            button(class="dropdown-item btn-secondary maint" type="button")="Anaconda"
          a(href="/kathmandu")
            button(class="dropdown-item btn-secondary maint" type="button")="Kathmandu"
          a(href="/macpac")
            button(class="dropdown-item btn-secondary maint" type="button")="Macpac"
    div(class="content ml-3")
      h1(class="pt-3")="Outdoor Gear Bargins"
      h2(class="pb-2")="Clearance items for your camping, hiking & outdoor adventure needs"
    block content
